{% extends 'admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Modification d'un type de document</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('documenttype_index') }}" class="btn btn-circle red btn-xs">Liste des types de document</a>
                    </div>
                </div>
                <div class="portlet-body">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn blue-hoki" value="Modifier" />
                    {{ form_end(edit_form) }}
                    {{ form_start(delete_form,{ 'attr': {'style': '    text-align: right;margin-top: -37px;'} }) }}
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <style>
        .checkbox{
            padding-left: 20px;
            padding-top: 8px;
        }
    </style>
{% endblock %}
