<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <li class="nav-item {{ app.request.attributes.get('_route') == "application_index" or  app.request.attributes.get('_route') == "candidate" ? "active" : "" }}">
                <a href="{{ path('application_index') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Liste des candidats</span>
                </a>
            </li>
            {% if app.user.role == "administrator" %}
            <li class="nav-item {{ app.request.attributes.get('_route') starts with "school_"  ? "active" : "" }}">
                <a href="{{ path('school_index') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Gestion des établissements</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with "schoolfield_"  ? "active" : "" }}">
                <a href="{{ path('schoolfield_index') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Gestion des filiéres</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with "diploma_"  ? "active" : "" }}">
                <a href="{{ path('diploma_index') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Gestion des diplomes</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with "course_"  ? "active" : "" }}">
                <a href="{{ path('course_index') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Gestion des master</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with "user_" or app.request.attributes.get('_route') starts with "feature_"  ? "active open" : "" }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Gestion des utilisateurs</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{ app.request.attributes.get('_route') starts with "user_"  ? "active" : "" }}">
                        <a href="{{ path('user_index_admin') }}" class="nav-link ">
                            <span class="title">Gestion des utilisateurs</span>
                        </a>
                    </li>
                    <li style="display: none;" class="nav-item {{ app.request.attributes.get('_route') starts with "role_"  ? "active" : "" }}">
                        <a href="{{ path('role_index') }}" class="nav-link ">
                            <span class="title">Gestion des types de roles</span>
                        </a>
                    </li>
                    <li style="display: none;" class="nav-item {{ app.request.attributes.get('_route') starts with "feature_"  ? "active" : "" }}">
                        <a href="{{ path('feature_index') }}" class="nav-link ">
                            <span class="title">Gestion des types de fonctionnalités</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with "trainingtype_" or app.request.attributes.get('_route') starts with "documenttype_" or app.request.attributes.get('_route') starts with "diplomatype_" or app.request.attributes.get('_route') starts with "nationality_"  ? "active open" : "" }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Paramétrage</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{ app.request.attributes.get('_route') starts with "documenttype_" ? "active" : "" }}">
                        <a href="{{ path('documenttype_index') }}" class="nav-link ">
                            <span class="title">Gestion des types de document</span>
                        </a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') starts with "trainingtype_" ? "active" : "" }}">
                        <a href="{{ path('trainingtype_index') }}" class="nav-link ">
                            <span class="title">Gestion des types de formation</span>
                        </a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') starts with "diplomatype_" ? "active" : "" }}">
                        <a href="{{ path('diplomatype_index') }}" class="nav-link ">
                            <span class="title">Gestion des types du diplome</span>
                        </a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') starts with "nationality_" ? "active" : "" }}">
                        <a href="{{ path('nationality_index') }}" class="nav-link ">
                            <span class="title">Gestion des nationalités</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{{ path('logout_user') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Déconnecter</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>