{% extends 'register.html.twig' %}

{% block body %}
    {{ form_start(form, {'action': path('register'), 'method': 'POST','attr': {'id': 'form_user'}}) }}
    <div id="middle-wizard" style="padding-top: 25px">
{% if not form.vars.valid %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
Le formulaire n’est pas valide
                                       </div>
    <div class="alert alert-danger display-hide" style="display: none;">
        <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
{% endif %}

        <h4>- Informations personnelles :</h4>
        <hr style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-6">
                <ul class="data-list">
                    <div class="form-group form-group-custom">
                        <label for="email">Nom <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.firstName, { 'attr': {'class': 'required form-control error firstname'} }) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Prénom <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.lastName, { 'attr': {'class': 'required form-control error lastName'} }) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Email <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.email, { 'attr': {'class': 'required form-control error email'} }) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Numéro de la Carte d’Identité Nationale (CIN) ou du passeport <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.cin, { 'attr': {'class': 'required form-control error cin'} }) }}
                        {{ form_errors(form.cin) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Sexe <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.sexe, { 'attr': {'class': 'required form-control error sexe'} }) }}
                        {{ form_errors(form.sexe) }}
                    </div>
                </ul>
            </div><!-- end col-md-6 -->
            <div class="col-md-6">
                <ul class="data-list">
                    <div class="form-group form-group-custom">
                        <label for="email">Numéro de téléphone <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.phoneNumber, { 'attr': {'class': 'required form-control error phoneNumber'} }) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Adresse :</label>
                        {{ form_widget(form.address, { 'attr': {'class': 'required form-control error address'} }) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Date de naissance (Jour/Mois/Année) <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.birthDate, { 'attr': {'class': 'required form-control error birthDate'} }) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Lieu de naissance  <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.placeBirth, { 'attr': {'class': 'required form-control error placeBirth'} }) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="email">Nationalité  <span style="color: red; font-size: 16px;">*</span> :</label>
                        {{ form_widget(form.nationality, { 'attr': {'class': 'required form-control error nationality'} }) }}
                    </div>
                    <div class="form-group form-group-custom">
                        <label for="situationProfessionnelle">Situation Professionnelle <span style="color: red; font-size: 16px;">*</span>:</label>
                        {{ form_widget(form.situationProfessionnelle, { 'attr': {'class': 'required form-control error situationProfessionnelle'} }) }}
                        {{ form_errors(form.situationProfessionnelle) }}
                    </div>
                </ul>
            </div><!-- end col-md-6 -->

        </div>

    </div>
    <div id="bottom-wizard">
        <button type="submit" onchange="window.location.href =''" id="forward" name="forward" class="forward"><span id="span-forward">Enregistrer</span> </button>
    </div>
    {{ form_end(form, {'render_rest': true}) }}
{% endblock %}
{% block javascript %}
    <script>
        $(".formToDelete").remove();
    </script>
{% endblock %}
